.grande { font-size: 60px; }
body{ background-color: #00F3
  ;
  font-family: Arial sans-erif;
}
main{
  text-align:center;
}
 #foto{ 
  width: 450px;
  height: auto;
  margin-left:-10%;

}
#prueba{
  text-align:center;
}
#info{
  background-color:#c3bbec;
}

